.App > * {
    padding: 0 50px;
}

.projects-container {
    display: flex;
    gap: 30px;
    margin-bottom: 60px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1000px) {
    .App > * {
        padding: 0 30px;
    }

    .projects-container {
        flex-wrap: nowrap;
        flex-direction: column;
    }
}